 <div class="user-details">
  <h1> About Me </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark colored"></i>css3-original
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-css3-original"></i>
      <p>Basic understanding of Frontend Web Design.</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-python-original"></i>
      <i class="devicon-cplusplus-original"></i>
      <i class="devicon-c-original"></i>
      <p>Proficient in Python, C & C++</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <!--<i class="devicon-git-plain"></i>-->
      <i class="devicon-github-original-wordmark colored"></i>
      <!--<i class="devicon-atom-original-wordmark"></i>-->
      <p>Knowshow to use Github and Microsoft office efficiently</p>
    </div>
</div>
