<div class="user-details">
  <h1>About Me</h1>
  <p>{{site.user_description}}</p>
</div>

<div class="user">

  <!-- Development -->
  <div class="tech">
      <h2>Development</h2>
      <div class="icons">
          <i class="devicon-python-plain-wordmark colored"></i>
          <i class="devicon-cplusplus-plain-wordmark colored"></i>
          <i class="devicon-c-plain-wordmark colored"></i>
          <i class="devicon-java-plain-wordmark colored"></i>
          <i class="devicon-gradle-plain-wordmark colored"></i>
      </div>
      <p>Proficient in Python, C/C++, Java, Spring Boot, Gradle, Apache Maven, and more.</p>
  </div>

  <!-- Tools & Platforms -->
  <div class="tech">
      <h2>Tools & Platforms</h2>
      <div class="icons">
          <i class="devicon-git-plain-wordmark colored"></i>
          <i class="devicon-github-original-wordmark colored"></i>
          <i class="devicon-bitbucket-original-wordmark colored"></i>
          <i class="devicon-vscode-plain-wordmark colored"></i>
      </div>
      <p>Skilled in using Bitbucket, Jira, Jenkins, Git, GitHub, VS Code, Linux, and more.</p>
  </div>

  <!-- Design & Data -->
  <div class="tech">
      <h2>Design & Data</h2>
      <div class="icons">
          <i class="devicon-html5-plain-wordmark colored"></i>
          <i class="devicon-css3-plain-wordmark colored"></i>
          <i class="devicon-javascript-plain colored"></i>
          <i class="devicon-python-plain-wordmark colored"></i>
      </div>
      <p>Understanding of Frontend Web Design and proficient in Keras, NumPy, Pandas, and more.</p>
  </div>
  
</div>
