<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/logo.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> UniFresh.life </h3>
    <ul>
      <li>HTML</li>
      <li>CSS</li>
      <li>JavaScript</li>
    </ul>
    <p>A prototype site created by me and my team during a Hackathon in 2022. We wanted to create a one stop shop for all incoming University students so that the hassle of buying things in an unknown city beacomes esaier for them. The site would have been hosted on the blockchain to ensure privacy and transcperency. To know more about the timeline of the idea click the <a href="/assets/pdf/UniFresh.pdf">Link</a></p>
    <a class="project-link" href="https://github.com/EshaanTrehan/unifreshco">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/joke.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Reddit Bot </h3>
    <ul>
      <li> Python </li>
      <li> Praw </li>
    </ul>
    <p>A basic Reddit Joke bot. This was craeted using python and it's library Praw. This bot replies to a comments with a Chuck Norris joke using an API of a webiste containg the jokes. It replies with a random Chcuk Norris joke to comments which have the word 'Chuck' in them. You will have to configure the config file for this bot to work. </p>
    <a class="project-link" href="https://github.com/EshaanTrehan/reddit_joke_bot">Check it out</a>
  </div>
</div>