<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/joke.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Reddit Bot </h3>
    <ul>
      <li> Python </li>
      <li> Praw </li>
    </ul>
    <p>A basic Reddit Joke bot. This was craeted using python and it's library Praw. This bot replies to a comments with a Chuck Norris joke using an API of a webiste containg the jokes. It replies with a random Chcuk Norris joke to comments which have the word 'Chuck' in them. You will have to configure the config file for this bot to work. </p>
    <a class="project-link" href="https://github.com/EshaanTrehan/reddit_joke_bot">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/rockgame.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Rock/Paper/Scissors Game </h3>
    <ul>
      <li>Python</li>
      <li>Trinket</li>
    </ul>
    <p>A game of Rock, Paper and Scissors v/s the computer. This includes a basic GUI of the game using Trinket in python. For more information about the code click the link below.</p>
    <a class="project-link" href="https://github.com/EshaanTrehan/rockpaperscissors">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/news.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> News Scrapper </h3>
    <ul>
      <li>Python</li>
      <li>Pandas Python Library</li>
      <li>NewsAPI</li>
    </ul>
    <p>Designed a news scrapper which collates, cleans, and extracts news for any given company using Bloomberg News as a source. The scraped data can be further leveraged to make news analysis and stock predictor tools. For more information about the code click the link below.</p>
    <a class="project-link" href="https://github.com/EshaanTrehan/News_scrapper">Check it out</a>
  </div>
</div>