$cut: 768px; // Assuming a breakpoint, adjust as per your value

#about {
  width: 90%;
  margin: 0 auto;
  max-width: 960px;

  @media only screen and (min-width: $cut) {
    width: 80%;
  }
}

.tech {
  margin: 10px;
  text-align: center; // Center everything in the tech section
  
  .icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px; // Space between icons

    i {
      font-size: 48px; // Adjust if needed
      margin-bottom: 10px; // Space between icon and text
    }
  }

  p {
    max-width: 80%; // Don't let the text stretch too wide
    margin: 0 auto; // Center the text
    font-size: 16px;
  }
}

.user {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; // Distributes child elements evenly
  gap: 20px; // Space between tech sections

  @media only screen and (min-width: $cut) {
    flex-wrap: nowrap;
  }
}

.user-details {
  text-align: center;
  margin: 5px auto;
}
